<table class="item" width="100%" cellspacing="1">
   <tr>
      <th class="control" colspan=6 align="left"><tag:new_account_link /></th>
   </tr>
   <tr class="item">
      <th align="left">Name</th>
      <th align="left"></th>
      <th align="left"></th>
      <th align="left">Balance</th>
   </tr>
   <loop:accounts>
      <tr class="linedRow">
	 <td><tag:accounts.account_link /></td>
	 <td><tag:accounts.edit_icon_link /></td>
	 <td><tag:accounts.delete_icon_link /></td>
	 <td align="right"><tag:accounts.balance /></td>
      </tr>
   </loop:accounts>
   <tr class="item">
      <th align="left">Total</th>
      <th align="left"></th>
      <th align="left"></th>
      <th align="right"><tag:total /></th>
   </tr>
</table>
