<div class="header">
   <span style="width:50%" class="leftFloat">
      <span dir="ltr">
	 <tag:account_or_category_name />&nbsp;<tag:account_or_category_icon /> 
	 <tag:limit_month />&nbsp - 
      </span>
   </span>
   <span class="rightFloat">
      <table>
	 <th style="font-weight: normal"><tag:total_quantity /></th>
	 <th />
	 <th><tag:total /></th>
      </table>
   </span>
   <br class="clear"/>
</div>
<form action="<tag:self_url />" method="post">
   <table class="item" width="100%" cellspacing="1">
      <tr class="control" align="left">
	 <th colspan=5><tag:new_event_link /></th>
	 <th colspan=3>
	    <if:is_account>
	       <input type="submit" value="Commit cleared status">
	    </if:is_account>
	 </th>
      </tr>
      <tr class="item">
	 <th align="left">Date</th>
	 <th align="left">Description</th>
	 <th align="left"></th>
	 <th align="left">To/From</th>
	 <th align="left">Quantity</th>
	 <th align="left">Amount</th>
	 <th align="left"></th>
	 <th align="left">Reference</th>
      </tr>
      <if:is_events_not_empty>
	 <loop:events>
	    <tr class="linedRow">
	       <td><tag:events.date /></td>
	       <td><tag:events.description_link /></td>
	       <td><tag:events.delete_icon_link /></td>
	       <td>
		  <if:is_account><tag:events.account_icon /></if:is_account>
		  <tag:events.account_link />
	       </td>
	       <td align="right"><tag:events.quantity_fmt /></td>
	       <td align="right"><tag:events.amount_fmt /></td>
	       <td>
		  <if:is_account>
		     <if:events.is_beginning>
			<tag:events.cleared_icon />
			<else:events.is_beginning>
			   <input
			      type="hidden"
			      name="is_cleared_<tag:events.id_encoded />"
			      value=0
			   >
			      <!--
				 workaround for submitting unchecked checkboxes
			      -->
			   <input
			      type="checkbox"
			      name="is_cleared_<tag:events.id_encoded />"
			      value=1
			      <if:events.is_cleared>
				 checked
			      </if:events.is_cleared>
			   >
			</else:events.is_beginning>
		     </if:events.is_beginning>
		     <else:is_account>
			<tag:events.cleared_icon />
		     </else:is_account>
		  </if:is_account>
	       </td>
	       <td><tag:events.statement_item_id /></td>
	    </tr>
	 </loop:events>
      </if:is_events_not_empty>
      <tr class="item">
	 <th align="left"><tag:more_events_link /></th>
	 <th colspan=4 align="left"><tag:all_events_link /></th>
      </tr>
   </table>
</form>
